@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 40%, 96%; /* slate-300 */
    --foreground: 0, 0%, 0%, 1; /* black */

    --actions: 222, 47%, 11%; /* slate-900 */
    --actions-foreground: 0, 0%, 100%; /* white */

    --card: 0, 0%, 100%; /* white */
    --card-foreground: 0, 0%, 0%, 1; /* slate-900 */
    --card-additional-foreground: 240, 1%, 61%, 1;

    /*--accent: 217, 91%, 60%; !* blue-500 *!*/
    --accent: 172, 66%, 50%, 1;
    --accent-link: 0, 0%, 52%, 1;
    --accent-foreground: 0, 0%, 100%; /* white */

    --muted: 214, 32%, 91%; /* slate-200 */
    --muted-foreground: 0, 0%, 52%, 1;
    --muted-background: 0, 0%, 92%;

    --disabled-foreground: 0, 0%, 30.19607843137255%;

    --border: 0, 0, 0, 0.08;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-family: 'Raleway', 'sans-serif';
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;
    scroll-behavior: smooth;
  }
}
