@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 40%, 96%; /* slate-300 */
    --foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --actions-foreground: 0, 0%, 100%; /* white */

    --card: 0, 0%, 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* slate-900 */
    --card-additional-foreground: 215, 16%, 47%; /* slate-500 */

    /*--secondary: 215, 19%, 35%; !* slate-600 *!*/
    /*--secondary-foreground: 0, 0%, 100%; !* white *!*/
    /*--secondary-additional-foreground: 213, 27%, 84%; !* slate-300 *!*/

    --accent: 217, 91%, 60%;

    --muted: 214, 32%, 91%; /* slate-200 */
    --muted-foreground: 215, 20%, 65%; /*slate-400*/

    --border: 213, 27%, 84%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Kanit", "sans-serif";
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body, #root {
    height: 100%;
  }
}