@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@font-face {
  font-family: 'Lufga';
  src: url('../../public/fonts/Lufga-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lufga Medium';
  src: url('../../public/fonts/Lufga-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Lufga Light';
  src: url('../../public/fonts/Lufga-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lufga SemiBold';
  src: url('../../public/fonts/Lufga-SemiBold.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 40%, 96%; /* slate-300 */
    --foreground: 222.2 47.4% 11.2%; /* slate-900 */

    --actions: 222, 47%, 11%; /* slate-900 */
    --actions-foreground: 0, 0%, 100%; /* white */

    --card: 0, 0%, 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* slate-900 */
    --card-additional-foreground: 215, 16%, 47%; /* slate-500 */

    /*--accent: 217, 91%, 60%; !* blue-500 *!*/
    --accent: 221, 83%, 53%; /* blue-600 */
    --accent-foreground: 0, 0%, 100%; /* white */
    --accent-teal: 175, 84%, 32%; /* teal-600 */
    --accent-gray: 215, 14%, 34%; /* gray-600 */

    --muted: 214, 32%, 91%; /* slate-200 */
    --muted-foreground: 215, 20%, 65%; /*slate-400*/

    --border: 213, 27%, 84%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Lufga', 'sans-serif';
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}
